.box
{
    border: 3px solid salmon;
    width: 200px;
    height: 50px;
    background-color: blueviolet;
}
.box:hover {
    filter: drop-shadow(5px 5px 5px grey);
}
.box2
{
    border: 2px solid black;
    background-color: blue;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.prep
{
    font-size: 35px;
    color: darkslateblue;
    background-color: salmon;
    font-style: italic;
    text-decoration-line: none;

}
.para
{
    font-family: 'Rubik Gemstones', cursive;
}